body {
  background-color: rgb(240, 240, 240)
}

/* SideBar */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .top-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  .menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }  
  
  .content {
    padding: 16px;
  }
  
  @media (max-height: 450px) {
    .sidebar { padding-top: 15px; }
    .sidebar a { font-size: 18px; }
  }
  
  /* End of SideBar */

  /* Contact Form */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #2e5ed0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0b3abc;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* End of Contact Form */